$backgroundColor: #F9E4D4;
$divColor: #e6af89;
$menuSectionColor: #c26a8d;
$borderColor: #470D21;

$emptySquareColor: #F9E4D4;
$SquareHoverColor: white;
$xSquareColor: #D67D3E;
$cSquareColor: #9C0F48;

$TTTLineColor: $borderColor;
$mainCanvasSideColor: $emptySquareColor;

$buttonColor: #f7d3b8;
$buttonHoverColor: #470D21;
$buttonTextHoverColor: #F9E4D4;
